Xft.dpi:         115
Xft.antialias:   true
Xft.rgba:        rgb
Xft.hinting:     true
Xft.autohint:    false
Xft.hintstyle:   hintfull
Xft.lcdfilter:   lcddefault

! Comand for search font:: fc-list | grep "JetBrains Mono"
*.font: xft:JetBrainsMono Nerd Font:style=Medium,Regular:size=12

*iconTheme: Papirus
*themeName: WhiteSur-Light-solid

Xcursor.theme: Future-cursors
Xcursor.size: 24

